@import "tailwindcss";

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Bold.woff2") format("woff2");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@theme {
  --color-primary: #a08148 ;
  --color-secondary: #6B7280;
  --color-dark: #101010;
  --color-cream: #EFEFEF;

  --font-oswald: "Oswald", sans-serif;
}

body {
    background: linear-gradient(rgb(255, 255, 230), var(--color-cream));
    background-attachment: fixed;
    color: var(--color-dark);
    font-family: var(--font-oswald);
    cursor: default;
}

html {
  scroll-behavior: smooth;
}

.glow {
    text-shadow: 0px 0px 32px var(--color-primary);
}