---
import Header from '@components/Header.astro';
import Hero from '@components/Hero.astro';
import Tech from '@components/Tech.astro';
import Projects from '@components/Projects.astro';
import Experience from '@components/Experience.astro';
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Footer from '@components/Footer.astro';
import Layout from '@layouts/Layout.astro';

import '@styles/global.css';
---

<Layout>
	<Header />
		<main class="mx-auto max-w-4xl px-4 py-8">
			<Hero />
			<hr class="opacity-10 my-8">
			<Tech />
			<hr class="opacity-10 my-8">
			<Projects />
			<hr class="opacity-10 my-8">
			<Experience />
			<hr class="opacity-10 my-8">
			<About />
			<hr class="opacity-10 my-8">
			<Contact />
		</main>
	<Footer />
</Layout>
