---
import Title from "./page/title.astro";
---

<section id="sobre-mi">
    <Title title="Sobre mí" />

    <div class="text-lg antialiased">
        <p>
            Soy David, un chico aplicado que le encanta aprender cosas <span class="glow text-[#816739] font-bold">nuevas</span
            > y no se conforma con poco.
        </p>
        <p>
            No llegué al <span class="glow text-[#816739] font-bold">desarrollo web</span> solo desde el código, sino desde
            la necesidad de construir herramientas reales.
        </p>
        <p>
            Estoy enfocándome en crear aplicaciones funcionales, 
            <span class="glow text-[#816739] font-bold">claras</span> y con criterio visual, combinando frontend, 
            backend y una mentalidad muy <span class="glow text-[#816739] font-bold">orientada al usuario</span>
        </p>
    </div>
</section>
