---
import Title from "./page/title.astro";

---

<section id="experiencia">
    <Title title="Experiencia" />

<div class="relative pl-10">
  <div class="absolute left-0 top-0 h-full w-1.5 rounded-full bg-linear-to-b from-primary via-primary to-transparent shadow-[0_0_20px_rgba(198,161,91,0.45)]"></div>

  <div class="absolute -left-1.25 top-3 size-4 rounded-full border-2 border-cream bg-secondary shadow-[0_0_16px_rgba(107,114,128,0.8)]"></div>

  <div>
    <div class="flex flex-wrap items-baseline gap-3">
      <h3 class="text-2xl md:text-4xl font-bold">The Good Decisions</h3>
      <span class="text-xl md:text-2xl text-secondary">Septiembre 2025 - Junio 2026</span>
    </div>

    <p class="mt-16 text-xl md:text-2xl opacity-50">¡Deseando tener más!</p>
  </div>
</div>
</section>