---
const year = new Date().getFullYear();
---

<footer class="bg-primary w-full h-auto pt-5">
    <p class="mx-auto max-w-4xl text-center items-center justify-center"> © {year} Derechos reservados · David Romero</p>
   
</footer>