---

---
<header class="fixed top-0 z-10 w-full mx-auto items-center justify-center">

    <nav
    class=" bg-white rounded-full flex justify-around mt-5 p-2
    mx-auto gap-3 text-center text-sm
    max-w-md md:max-w-md xl:max-w-xl font-normal border border-transparent"
    >
    <a href="#tecnologias" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300"  >Tecnologías</a>
    <a href="#proyectos" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300">Proyectos</a>
    <a href="#experiencia" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300"  >Experiencia</a>
    <a href="#sobre-mi" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300" >Sobre mí</a>
    <a href="#contacto" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300" >Contacto</a>
</nav>
</header>