---

---
<header class="fixed top-0 z-10 -translate-x-1/2 left-1/2">

    <nav
    class="bg-white rounded-full flex justify-center gap-5 mt-5 p-2
    mx-auto text-center text-sm
    max-w-md md:max-w-md xl:max-w-xl font-normal border border-transparent"
  >
    <a href="#tecnologias" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300"  >Tecnologías</a>
    <a href="#proyectos" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300">Proyectos</a>
    <a href="#experiencia" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300"  >Experiencia</a>
    <a href="#sobre-mi" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300" >Sobre mí</a>
    <a href="#contacto" class="hover:text-primary hover:[text-shadow:0_0_10px_#C6A15B] transition-colors duration-300" >Contacto</a>
</nav>
</header>