---
import Location from "@assets/location.svg";
---

<section class="mt-15 md:mt-5">
    <div class="flex">
        <img 
        src="images/portfolio-image.webp" 
        alt="Imagen de portada"
        class="w-25 h-25 object-cover rounded-full
        md:w-50 md:h-50
        pointer-events-none mr-2">

        <h1 class="text-md md:text-xl flex items-end mb-5">Buenas, soy &nbsp;<span class="bg-linear-to-r from-primary to-[#d7a549] bg-clip-text text-transparent glow text-2xl md:text-4xl font-bold">David Romero</span></h1>
    </div>
    <div class="mt-5 text-md md:text-xl">
        <p>Soy un <span class="font-bold bg-linear-to-r from-primary to-[#d7a549] bg-clip-text text-transparent glow">Desarrollador Web Full Stack Junior</span>, con 9 meses de experiencia en el sector, y con muchas ganas de aprender.</p>
        <p class="mt-2 flex items-center">
            <Location />
            Girona, España.
        </p>
    </div>
</section>