---
import Title from './page/title.astro';
---

<section id="proyectos">
    
    <Title title="Proyectos" />
    <article class="flex flex-row gap-10">

        <div>
            <img 
            src="images/Proyecto-1.png" 
            alt="Proyecto e-commerce de ropa téxtil personalizable"
            class="w-lg rounded-lg">
        </div>
        <div>
            <h1 class="text-3xl font-bold mb-2">The Good Decisions</h1>
            <p>E-Commerce de ropa personalizable.</p>
            <p>Creado desde 0 con React, NextJS y TailwindCSS</p>
        </div>
    </article>
</section>