---
import { TECNOLOGIAS } from "@utils/tecnologias.js";
import Title from './page/title.astro';
---

<section id="tecnologias">
    <Title title="Tecnologías más usadas" />
    <div class="grid grid-cols-10 gap-5 md:grid-cols-5 text-sm mt-5">
        {
            TECNOLOGIAS.map((tecnologia) => (
                <article>
                    <img 
                        src={tecnologia.icon} 
                        alt={tecnologia.title}
                        class="object-contain
                        md:w-20 md:h-20
                        hover:scale-102 transition all"/>
                </article>
            ))
        }
    </div>
</section>