<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Soy David Romero, un Desarrollador web Junior con muchas ganas de seguir aprendiendo." />
		<meta name="keywords" content="David Romero, Portfolio, Desarrollador Web, Desarrollador Frontend, Desarrollador Backend, Desarrollador Full Stack" />
		<meta name="author" content="David Romero" />
		<title>David Romero | Desarrollador Web Full Stack</title>
	</head>
	<body>
		<slot />
	</body>
</html>